#myCanvas{
    border: 1px solid #000;
    background-color:white;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}
body {
    background-image:url( 'image/background.png');
}
* {
    box-sizing: border-box;
}

.colorButtons {
	display: block;
	margin: 20px;
}
.colorpicker {
	background: transparent;
	height: 40px;
}

#tools {
    position: absolute;
    left: 730px;
    margin-top:40px;
    margin-right:130px;
    cursor: url("image/cursor.png") 2 2 ,auto;
}

#textboard{
  position: absolute;
  right: 430px;
  top: 10px;
  width: 150px;
  height:30px;
  margin-top: 5px;
}

h6{
  color: black;
  position: absolute;
  left: 500px;
  height: 600px;
}